section.film
    .l-default
        a.film__back(href="/") Вернуться на главную
        .film__wrapper
            a.film__left(href="https://www.youtube.com/watch?v=_e-GMpcK0g8" data-fancybox)
                .film__left-content
                    .film__img
                        +webp(['film', 'jpg'])
                    .film__trailer 
                        +svgMono('play')
            .film__right
                .film__right-top
                    .film__type Фильм
                    .film__check Отметить просмотренным
                .film__title Зеленый фонарь
                .film__description 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, adipisci nam repellendus rem cupiditate enim reprehenderit, et odit quaerat alias esse aliquid voluptate, minus numquam blanditiis. Dolor, temporibus nulla. Nulla beatae fugit adipisci unde nesciunt, repellat corporis temporibus, harum ab earum animi maiores nisi est fugiat similique consequuntur, aperiam rerum placeat maxime excepturi ex? Natus nulla odit iusto, eligendi et, distinctio nisi explicabo necessitatibus incidunt itaque corporis obcaecati aliquid? Adipisci quidem at deleniti doloremque repudiandae similique, assumenda voluptatem laborum. Sequi ut sunt praesentium similique nulla consectetur error cumque ex, perspiciatis, laudantium rerum culpa ab a illum sit quis saepe totam?
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, adipisci nam repellendus rem cupiditate enim reprehenderit, et odit quaerat alias esse aliquid voluptate, minus numquam blanditiis. Dolor, temporibus nulla. Nulla beatae fugit adipisci unde nesciunt, repellat corporis temporibus, harum ab earum animi maiores nisi est fugiat similique consequuntur, aperiam rerum placeat maxime excepturi ex? Natus nulla odit iusto, eligendi et, distinctio nisi explicabo necessitatibus incidunt itaque corporis obcaecati aliquid? Adipisci quidem at deleniti doloremque repudiandae similique, assumenda voluptatem laborum. Sequi ut sunt praesentium similique nulla consectetur error cumque ex, perspiciatis, laudantium rerum culpa ab a illum sit quis saepe totam?
                .film__categories
                    .film__category Комедия
                    .film__category Боевик
                    .film__category Фантастика
            