.ico-mono-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.ico-mono-instagram {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.ico-mono-telegram {
  width: 1.15em;
  height: 1em;
  fill: #19232c;
}
.ico-mono-vk {
  width: 1.77em;
  height: 1em;
  fill: #19232c;
}
