extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = ""

block content
  include ../blocks/modules/header/header.pug

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")