section.main-top
    .l-default 
        h1.main-top__title.title.title--h1 Фильмы которые хочу посмотреть
        .main-top__caption Тип:
        .main-top__types
            .main-top__type.active Все
            .main-top__type Фильмы
            .main-top__type Мультфильмы
            .main-top__type Аниме
        .main-top__caption Жанр:
        .main-top__categories
            .main-top__category.active Все
            .main-top__category Ужасы
            .main-top__category Боевики
            .main-top__category Драмы
            .main-top__category Триллеры
            .main-top__category Мистика
            .main-top__category Комедия
            .main-top__category Фантастика
        .main-top__catalog
            a.main-top__film(href="")
                .main-top__film-img
                    +webp(['film', 'jpg'])
                .main-top__film-title Зеленый фонарь
                .main-top__film-type Фильм
                .main-top__film-year Год выхода: 2000
                .main-top__film-categories
                    .main-top__film-category Боевики
                    .main-top__film-category Фантастика
                    .main-top__film-category Комедия
            a.main-top__film(href="")
                .main-top__film-img
                    +webp(['film', 'jpg'])
                .main-top__film-title Зеленый фонарь
                .main-top__film-type Фильм
                .main-top__film-year Год выхода: 2000
                .main-top__film-categories
                    .main-top__film-category Боевики
                    .main-top__film-category Фантастика
                    .main-top__film-category Комедия
            a.main-top__film(href="")
                .main-top__film-img
                    +webp(['film', 'jpg'])
                .main-top__film-title Зеленый фонарь
                .main-top__film-type Фильм
                .main-top__film-year Год выхода: 2000
                .main-top__film-categories
                    .main-top__film-category Боевики
                    .main-top__film-category Фантастика
                    .main-top__film-category Комедия
            a.main-top__film(href="")
                .main-top__film-img
                    +webp(['film', 'jpg'])
                .main-top__film-title Зеленый фонарь
                .main-top__film-type Фильм
                .main-top__film-year Год выхода: 2000
                .main-top__film-categories
                    .main-top__film-category Боевики
                    .main-top__film-category Фантастика
                    .main-top__film-category Комедия
            a.main-top__film(href="")
                .main-top__film-img
                    +webp(['film', 'jpg'])
                .main-top__film-title Зеленый фонарь
                .main-top__film-type Фильм
                .main-top__film-year Год выхода: 2000
                .main-top__film-categories
                    .main-top__film-category Боевики
                    .main-top__film-category Фантастика
                    .main-top__film-category Комедия
            a.main-top__film(href="")
                .main-top__film-img
                    +webp(['film', 'jpg'])
                .main-top__film-title Зеленый фонарь
                .main-top__film-type Фильм
                .main-top__film-year Год выхода: 2000
                .main-top__film-categories
                    .main-top__film-category Боевики
                    .main-top__film-category Фантастика
                    .main-top__film-category Комедия
            a.main-top__film(href="")
                .main-top__film-img
                    +webp(['film2', 'jpg'])
                .main-top__film-title Зеленый фонарь
                .main-top__film-type Фильм
                .main-top__film-year Год выхода: 2000
                .main-top__film-categories
                    .main-top__film-category Боевики
                    .main-top__film-category Фантастика
                    .main-top__film-category Комедия